body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.dashboard {
  text-align: center;
  margin-top: 20px;
}

.icon-container {
  text-align: center;
  margin-top: 20px;
}

.dashboard-content {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list {
  text-align: center;
  margin-top: 20px;
}

.search-bar {
  padding: 10px;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
